
.text-white {
    color: black !important; 
}

body{
    background-color: black;
}

/* Navigation Bar */
.navbar-default{
    transition:750ms ease;
    background:transparent !important;
}

.navbar-default.scrolled{
    background:#1f0000 !important;
}

.navbar-brand{
    padding-left: 2em;
}

.logo-default{
    transition:750ms ease;
    width: 356px;
    height: 136px;
}

.logo-small{
    transition:1000ms ease;
    width: 178px;
    height: 68px;
}

.nav-item a{
    font-size: 1.2em !important;

}

/* Carousel */
.carousel-item{
    width: 100vw;
    min-height: 300px;
    /* background: no-repeat ;
    background-size: cover; */
}
.carousel-item > img{
    max-height: 100%;
    background: cover;
}

