/* Colors */
:root{
    /* --primary: #C49E76; */
    --primary: #92704a;
    --secondary: #6A4838;
    --terciary: #F3DDBE;
    --textColor: #2A1914;
    --slateGray: #B9BBBF;
    --lightGreen: #b2d33e;
}

html{
    box-sizing: border-box;
    font-size: 62.5%; /*Make 1rem = 10px*/
    scroll-behavior: smooth;
}
*, *:before, *:after{
    box-sizing: inherit;
}
/* LOADER */
#pre-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: rgb(23, 22, 22);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    transition: opacity 0.3s linear;
}

#logo{
    width: 15rem;
}

/* path1 length 148.82 */
#triangle1{
    stroke-linecap: round;
    stroke-dasharray: 148.82,148.82;
    animation: triangle1 3s alternate infinite ease-in-out;
}

/* path2 length 188.544 */
#triangle2{
    stroke-linecap: round;
    stroke-dasharray: 188.544, 188.544;
    animation: triangle2 3s alternate infinite ease-in-out ;
}

/* path3 length 255.076 */
#triangle3{
    stroke-linecap: round;
    stroke-dasharray: 255.076, 255.076;
    animation: triangle3 3s alternate infinite ease-in-out ;
}

/* path4 length 356.231 */
#triangle4{
    stroke-linecap: round;
    stroke-dasharray: 356.231, 356.231;
    animation: triangle4 3s alternate infinite ease-in-out ;
}

/* path5 length 474.564 */
#triangle5{
    stroke-linecap: round;
    stroke-dasharray: 474.564, 474.564;
    animation: triangle5 3s alternate infinite ease-in-out ;
}

@keyframes triangle1{
    0% { stroke-dashoffset: 148.82;}
    50%{ stroke-dashoffset: 0;}
    100%{ stroke-dashoffset: -148.82;}
}
@keyframes triangle2{
    0% { stroke-dashoffset: 188.544;}
    50%{ stroke-dashoffset: 0;}
    100%{ stroke-dashoffset: -188.544;}
}
@keyframes triangle3{
    0% { stroke-dashoffset: 255.076;}
    50%{ stroke-dashoffset: 0;}
    100%{ stroke-dashoffset: -255.076;}
}
@keyframes triangle4{
    0% { stroke-dashoffset: 356.231;}
    50%{ stroke-dashoffset: 0;}
    100%{ stroke-dashoffset: -356.231;}
}
@keyframes triangle5{
    0% { stroke-dashoffset: 474.564;}
    50%{ stroke-dashoffset: 0;}
    100%{ stroke-dashoffset: -474.564;}
}

/* GLOBALS */
img{
    max-width: 100%;
}
h1{
    font-size: 4rem;
    color: var(--textColor);
}
h2{
    font-size: 3.7rem;
    color: var(--textColor);
}
h3{
    font-size: 3.2rem;
    color: var(--textColor);
}
h4{
    font-size: 2.8rem;
    color: var(--textColor);
}
p{
    color: var(--textColor);
}

body{
    background-color: var(--terciary);
    font-size: 1.6rem;
    line-height: 2;
    font-family: 'Fira Sans', sans-serif;
    color: var(--textColor);
}

.button{
    color: white;
    font-weight: 500;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    margin-top: 1.0rem;
    margin-bottom: 1.5rem;
    display: inline-block;
    text-align: center;
    border-radius: 3rem;
    transition: all .3s;
    text-transform: capitalize;
}
.button:hover{
    color: var(--textColor);
    font-weight: 700;
    text-decoration: none;
}
.primary-button{
    background-color: var(--primary);
}
/* UTILITIES */

.fw-700{
    font-weight: 700;
}
.center-text{
    text-align: center;
}
.align-right{
    text-align: right;
}
.logo-default{
    transition:750ms ease;
    width: 178px;
    height: 68px;
}
.logo-small{
    width: 178px;
    height: 68px;
}
@media (min-width: 992px) {
    
    .logo-default{
        width: 35.6rem;
        height: 13.6rem;
    }
    .logo-small{
        transition:1000ms ease;
        /* width: 14.5rem; */
        height: 7rem;
    }
}


/* Navigation Bar */
.navbar-default{
    transition:750ms ease;
    background:var(--textColor) !important;
}
@media (min-width: 992px) {
    .navbar-default{
        transition:750ms ease;
        background:transparent !important;
    }
    .navbar-default.scrolled{
        background:var(--textColor) !important;  
    }
}
.navbar-nav > .active a{
    color: white!important;
    text-decoration: underline var(--lightGreen);
}
.navbar-nav .nav-item:not(:first-child) {
    border-top: 1px solid #442b2c;
}
@media (min-width: 992px) {
    .navbar-nav .nav-item:not(:first-child) {
        border-top: none;
    }
}
.nav-item a{
    font-size: 1.4em !important;
    color: var(--terciary)!important;
    transition: all .3s;
    text-transform: uppercase;
    font-weight: 500;
}
.nav-item a:hover{
    color: var(--lightGreen)!important;
}
.navbar-nav{
    padding-right: 4vw;
}
.navbar-nav > li{
    margin-left: 1rem;
    margin-right: 1rem;
}
#carouselBanner{
    margin-top: 7rem;
}
.carousel-item > img {
    max-height: 100rem;
}
@media (min-width: 992px) {
    .carousel-inner-item{
        text-align: center;
        max-height: 100vh;
        position: relative;
        height:100%;
    }
    .carousel-inner-item > img:not(.different){
        transform: translateY(-15%);
    }
}

/* HOME welcome */
.welcome{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    height: 40rem;
}
.welcome p{
    font-size: 1.7rem;
    font-weight: 700;
    line-height: 1.5;
}
@media (min-width: 768px) {
    .welcome p{
        font-size: 2.2rem;
        font-weight: 700;
        text-align: center;
    }
}
.welcome p:first-of-type::after{
    content: '';
    display: block;
    width: 20%;
    height: .2rem;
    background-color: #71b100;
    margin-top: 0rem;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

/*HOME card-container*/
.card-img-top {
    position: absolute;
    background-position: center;
    display: cover;
    max-width: 100%;
    max-height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.card { 
    background-color: rgba(245, 245, 245, 0.0) !important; 
    border: none;
}
.card-title{
    padding-top: 2rem;
}
.zoom{
    display: block;
    width: 100%;
    position: relative;
    height: 0;
    padding: 75% 0 0 0;
    overflow: hidden;    
}
.zoom{
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.zoom:hover {
    transform: scale (1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
}
@media (min-width: 768px) {
    .zoom:hover {
        transform: scale (1.2);
        -moz-transform: scale(1.2);
        -webkit-transform: scale(1.2);
    }
}

/* HOME products-section */
.products-section{
    margin: 5rem 0;
}
.products-section h2{
    font-weight: 900;
    font-size: 5rem;
    text-align: center;
    margin-bottom: 3rem;
}
.products-section h3{
    font-weight: 900;
}
.products-section > .row{
    padding-top: 10rem!important;
}
.products-section > .row:first-of-type{
    padding-top: 0rem!important;
}
.products-img img{
    max-height: 80rem ;
}
.products-text{
    text-align: center;
    margin: 3rem 0;
}
.products-text p{
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 1.2;
}
@media (min-width: 768px) {
    .products-text p{
        padding: 1rem 3rem;
        font-size: 2.1rem;
        margin: 0;
        line-height: 1.3;
    }   
}
@media (min-width: 992px) {
    .products-text p{
        font-size: 1.7rem;
        font-weight: 700;
        line-height: 1.5;
        margin: 0;
    }
}

/* HOME footer */
.footer{
    background-color: black;
}
.footer hr{
    border-top: 1px solid white;
}
.social-media-list{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}
@media (min-width: 768px) {
    .social-media-list{
        display: inline-block;
    }
}
.social-media-list li:nth-of-type(n+2){
    margin-top: 4rem;
}
@media (min-width: 768px) {
    .social-media-list li:nth-of-type(n+2){
        margin-top: 0;
    }
    .social-media-list li:nth-of-type(2) {
        margin-top: 1rem;
    }
}
.social-media-list li a{
    color: white;
    font-size: 1.8em;
    transition: all .2s ease;
}
.social-media-list li a:hover{
    color: var(--lightGreen);
}
.footer-nav{
    padding-top: 0;
    list-style: none;
}
@media (min-width: 768px) {
    .footer-nav{
        padding-top: 6rem;
    }

}
.footer-nav h4{
    color: white;
    font-weight: 700;
}
.footer-nav h4:hover{
    transition: all .2s ease;
    color: var(--lightGreen);
}
.footer-nav li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    line-height: 0;
}

.footer-nav-link{
    position: relative;
}
.footer-nav-link:after{
    content: '';
    position: absolute;
    width: 0; height: 3px;
    display: block;
    margin-top: 5px;
    right: 0;
    bottom: 0;
    background: var(--lightGreen);
    transition: width .2s ease;
    -webkit-transition: width .2s ease;
}
.footer-nav-link:hover:after{
    width: 100%;
    bottom: 0;
    left: 0;
    background: var(--lightGreen);
}
div.copyright{
    background-color: var(--textColor);
    text-align: center;
}
div.copyright p{
    color: white;
    margin: 0;
}


/* ABOUT header */

.header-about{
    background-image: url(../img/about/bones.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100vw;
    margin-top: 8rem;
    
}
@media (min-width: 992px){
    .header-about {
        height: 40vw;
        background-position: center bottom;
    }
}
.header-about .header-text{
    height: 40rem;
    padding-top: 15rem;
}
@media (min-width: 768px){
    .header-about .header-text{
        padding-top: 18vw;
    }
    .header-text h1{
        font-size: 6rem;
    }
}
/*** INTERN PAGES ***/
/* ABOUT content */
.content-about{
    display: grid;
    grid-auto-rows: minmax(min-content, max-content);
    margin-bottom: 10rem;
    row-gap: 2rem;
}
@media (min-width: 768px) {
    .content-about{
        margin: 5rem 2rem;
        display: grid;
        grid-template-columns: 50% 50% ;
        column-gap: 3rem;
    }
}
.image-about{
    grid-row: 2/3;
}
@media (min-width: 768px) {
    .image-about{
        grid-row: 1/2;
    }
}
.image-about figcaption{
    line-height: 1.7;
    font-weight: 700;
}
.image-about figcaption i{
    font-size: 1.2rem;
}
@media (min-width: 768px) {
    .image-about figcaption{
        line-height: 2;
    }
}
.text-about p{
    line-height: 1.7;
}
@media (min-width: 768px) {
    .text-about p{
        line-height: 2;
    }
}
.text-about h2{
    font-weight: 900;
    font-size: 2rem;
    margin: 0;
    padding: 1rem 0 1rem 0;
}

/* Policies */
.header-policies .header-text{
    height: 15rem;
    padding-top: 8rem;
}
@media (min-width: 768px) {
    .header-policies .header-text{
        height: 18rem;
    }
}
.content-policies{
    padding: 2rem 0;
}
@media (min-width: 768px) {
    .content-policies{
        max-width: 80rem;
        margin: 0 auto;
        padding: 3rem 0;
    }
}
.content-policies h2{
    margin-top:3rem;
}
.content-policies p{
    font-size: 1.8rem;
    line-height: 1.8;
}
@media (min-width: 768px) {
    .content-policies p{
        font-size: 2rem;
        line-height: 2;
    }
}
.content-policies h2::before { 
    display: block; 
    content: " "; 
    margin-top: -100px; 
    height: 100px; 
    visibility: hidden; 
    pointer-events: none;
}

/* How is it made - Header */

.parallax::before{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    -webkit-filter: brightness(.4);
    filter: brightness(.4);
}
.header-how{
    position: relative;
    height: 100vh;
}
.header-how::before{
    background-image: url(../img/how/sun.jpg);
    content: '';
}
.header-how .header-text{
    height: 40rem;
    /* padding-top: 15rem; */
    
    position: relative;
    top: 30vh;
}
.header-how .header-text h1{
    color: var(--white);
}
/* How is it made - main */

.text-how p{
    line-height: 1.7;
    font-size: 1.8rem;
    
}
@media (min-width: 768px) {
    .text-how p{
        line-height: 2;
    }
}
.text-how h2{
    font-weight: 900;
    font-size: 3rem;
    margin: 0;
    padding: 1rem 0 1rem 0;
}
.text-how h2::after{
    content: '';
    display: block;
    width: 80%;
    height: .2rem;
    background-color: #71b100;
    margin-top: 0rem;
    position: absolute;
}
.text-how h2,
.text-how.align-right h2{
    position: relative;
}
.text-how.align-right h2::after{
    content: '';
    display: block;
    width: 80%;
    height: .2rem;
    background-color: #71b100;
    margin-top: 0rem;
    position: absolute;
    right: 0;
    margin-left: auto;
}
@media (min-width: 768px) {
    .text-how h2,
    .text-how.align-right h2{
        font-size: 4rem;
    }
    .text-how h2::after{
        content: '';
        display: block;
        width: 40%;
        height: .2rem;
        background-color: #71b100;
        margin-top: 0rem;
        position: absolute;
    }
    .text-how.align-right h2::after{
        content: '';
        display: block;
        width: 40%;
        height: .2rem;
        background-color: #71b100;
        margin-top: 0rem;
        position: absolute;
        right: 0;
        margin-left: auto;
    }
}
.images-how{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
}
.graphic{
    min-height: 300px;
    background-size: cover;
    background-position: center center;
    transition: all .5s ease-in-out;
}
.graphic1,
.graphic3,
.graphic5{
    grid-row: 1/2;
    grid-column: 1/3;
}
.graphic1{
    background-image: url(../img/how/materials1.jpg);
}
.graphic3{
    background-image: url(../img/how/necklace1.jpg);
}
.graphic5{
    background-image: url(../img/how/alienCarving1.jpg);
}
@media (min-width: 768px) {
    .graphic1,
    .graphic3,
    .graphic5{
        grid-row: 1/3;
        grid-column: 2/3;
    }
    .graphic3{
        background-position: left center;
    }
}
.graphic2,
.graphic4,
.graphic6{
    grid-row: 1/2;
    grid-column: 1/3;
}
.graphic2{
    background-image: url(../img/how/customs1.jpg);
}
.graphic4{
    background-image: url(../img/how/ostrich1.jpg);
}
.graphic6{
    background-image: url(../img/how/tanto1.jpg);
}
@media (min-width: 768px) {
    .graphic2,
    .graphic4,
    .graphic6{
        grid-row: 1/3;
        grid-column: 1/2;
    }
    .graphic4,
    .graphic6{
        background-position: left center;
    }
    
}
.image-how{
    position: relative;
    overflow: hidden;
}
.image-how img{
    max-width: 100%;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.image-how:hover img{
    transform: scale(1.2);
}