/* Colors */
:root{
    /* --primary: #C49E76; */
    --primary: #92704a;
    --secondary: #6A4838;
    --terciary: #F3DDBE;
    --textColor: #2A1914;
    --slateGray: #B9BBBF;
    --lightGreen: #b2d33e;
}

html{
    box-sizing: border-box;
    font-size: 62.5%; /*Make 1rem = 10px*/
    scroll-behavior: smooth;
}
*, *:before, *:after{
    box-sizing: inherit;
}
/* LOADER */
#pre-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: rgb(23, 22, 22);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    transition: opacity 0.3s linear;
}

#logo{
    width: 15rem;
}

/* path1 length 148.82 */
#triangle1{
    stroke-linecap: round;
    stroke-dasharray: 148.82,148.82;
    animation: triangle1 3s alternate infinite ease-in-out;
}

/* path2 length 188.544 */
#triangle2{
    stroke-linecap: round;
    stroke-dasharray: 188.544, 188.544;
    animation: triangle2 3s alternate infinite ease-in-out ;
}

/* path3 length 255.076 */
#triangle3{
    stroke-linecap: round;
    stroke-dasharray: 255.076, 255.076;
    animation: triangle3 3s alternate infinite ease-in-out ;
}

/* path4 length 356.231 */
#triangle4{
    stroke-linecap: round;
    stroke-dasharray: 356.231, 356.231;
    animation: triangle4 3s alternate infinite ease-in-out ;
}

/* path5 length 474.564 */
#triangle5{
    stroke-linecap: round;
    stroke-dasharray: 474.564, 474.564;
    animation: triangle5 3s alternate infinite ease-in-out ;
}

@keyframes triangle1{
    0% { stroke-dashoffset: 148.82;}
    50%{ stroke-dashoffset: 0;}
    100%{ stroke-dashoffset: -148.82;}
}
@keyframes triangle2{
    0% { stroke-dashoffset: 188.544;}
    50%{ stroke-dashoffset: 0;}
    100%{ stroke-dashoffset: -188.544;}
}
@keyframes triangle3{
    0% { stroke-dashoffset: 255.076;}
    50%{ stroke-dashoffset: 0;}
    100%{ stroke-dashoffset: -255.076;}
}
@keyframes triangle4{
    0% { stroke-dashoffset: 356.231;}
    50%{ stroke-dashoffset: 0;}
    100%{ stroke-dashoffset: -356.231;}
}
@keyframes triangle5{
    0% { stroke-dashoffset: 474.564;}
    50%{ stroke-dashoffset: 0;}
    100%{ stroke-dashoffset: -474.564;}
}

/* GLOBALS */
img{
    max-width: 100%;
}
h1{
    font-size: 4rem;
    color: var(--textColor);
}
h2{
    font-size: 3.7rem;
    color: var(--textColor);
}
h3{
    font-size: 3.2rem;
    color: var(--textColor);
}
h4{
    font-size: 2.8rem;
    color: var(--textColor);
}
p{
    color: var(--textColor);
}

body{
    background-color: var(--terciary);
    font-size: 1.6rem;
    line-height: 2;
    font-family: 'Fira Sans', sans-serif;
    color: var(--textColor);
}

.button{
    color: white;
    font-weight: 500;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    margin-top: 1.0rem;
    margin-bottom: 1.5rem;
    display: inline-block;
    text-align: center;
    border-radius: 3rem;
    transition: all .3s;
    text-transform: capitalize;
}
.button:hover{
    color: var(--textColor);
    font-weight: 700;
    text-decoration: none;
}
.primary-button{
    background-color: var(--primary);
}
/* UTILITIES */

.fw-700{
    font-weight: 700;
}


/* Navigation Bar */

.navbar-default{
    transition:750ms ease;
    background:transparent !important;
}

.navbar-default.scrolled{
    background:var(--textColor) !important;
    
}

.navbar-brand{
    padding-left: 2rem;
}

.logo-default{
    transition:750ms ease;
    width: 35.6rem;
    height: 13.6rem;
}

.logo-small{
    transition:1000ms ease;
    /* width: 14.5rem; */
    height: 7rem;
}

.navbar-nav > .active a{
    color: white!important;
    text-decoration: underline var(--lightGreen);
}

.nav-item a{
    font-size: 1.4em !important;
    color: var(--terciary)!important;
    transition: all .3s;
    text-transform: uppercase;
    font-weight: 500;
}
.nav-item a:hover{
    color: var(--lightGreen)!important;
}
.navbar-nav{
    padding-right: 4vw;
}

.navbar-nav > li{
    margin-left: 10px;
    margin-right: 10px;
}

.carousel-inner-item{
    text-align: center;
    max-height: 100vh;
    position: relative;
    height:100%;
}
.carousel-inner-item > img{
    transform: translateY(-15%);
}
/* .carousel-control-prev-icon, .carousel-control-next-icon {
    opacity: 0;
    filter:alpha(opacity=0); IE support
} */


/* HOME welcome */

.welcome{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    height: 40rem;
}
.welcome p:first-of-type::after{
    content: '';
    display: block;
    width: 20%;
    height: .2rem;
    background-color: #71b100;
    margin-top: 0rem;
    position: absolute;
    left: 40%;
}

.welcome p{
    font-size: 2.2rem;
    font-weight: 700;
    text-align: center;
}

/*HOME card-container*/

.card-img-top {
    position: absolute;
    background-position: center;
    display: cover;
    max-width: 100%;
    max-height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.card { 
    background-color: rgba(245, 245, 245, 0.0) !important; 
    border: none;
}
.card-title{
    padding-top: 2rem;
}

.zoom{
    display: block;
    width: 100%;
    position: relative;
    height: 0;
    padding: 75% 0 0 0;
    overflow: hidden;
    
}
.zoom{
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

.zoom:hover {
    transform: scale (1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
}
/* HOME products-section */
.products-section{
    margin: 5rem 0;
}
.products-section h2{
    font-weight: 900;
    font-size: 5rem;
    text-align: center;
    margin-bottom: 3rem;
}
.products-section h3{
    font-weight: 900;
}
.products-img img{
    max-height: 80rem ;
}
.products-text{
    text-align: center;
    margin: 3rem 0;
}
.products-text p{
    padding: 1rem 3rem;
    font-size: 2.1rem;
    margin: 0;
    line-height: 1.3;
}
.products-section > .row{
    padding-top: 10rem!important;
}
.products-section > .row:first-of-type{
    padding-top: 0rem!important;
}

/* HOME footer */
.footer{
    background-color: black;
}
.footer hr{
    border-top: 1px solid white;
}
.social-media-list{
    list-style: none;
}
.social-media-list .social-media-icon{
    height: 3rem;
}
.social-media-list .facebook-icon{
    height: 2.4rem;
    padding-left: .4rem;
}
.footer-nav{
    list-style: none;
    padding-top: 6rem;
}
.footer-nav h4{
    color: white;
    font-weight: 700;
}
.footer-nav li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    line-height: 0;
}

.footer-nav-link{
    position: relative;
}
.footer-nav-link:after{
    content: '';
    position: absolute;
    width: 0; height: 3px;
    display: block;
    margin-top: 5px;
    right: 0;
    bottom: 0;
    background: var(--lightGreen);
    transition: width .2s ease;
    -webkit-transition: width .2s ease;
}
.footer-nav-link:hover:after{
    width: 100%;
    bottom: 0;
    left: 0;
    background: var(--lightGreen);
}

/** MEDIA QUERIES **/
@media(max-width: 991.98px){
    .logo-default{
        transition:750ms ease;
        width: 178px;
        height: 68px;
    }
    .navbar-default{
        transition:750ms ease;
        background:var(--textColor) !important;
    }
    .navbar-nav{
        padding-right: 0vw;
    }
    .navbar-nav .nav-item:not(:first-child) {
        border-top: 1px solid #442b2c
        
        ;
    }
    .navbar-nav > li{
        margin-left:1rem;
        margin-right:1rem;
    }
    .carousel-inner-item > img{
        transform: translateY(0%);
    }
    .products-text p{
        font-size: 1.7rem;
        font-weight: 700;
        line-height: 1.5;
        margin: 0;
    }
    
}
@media (max-width: 767.98px) {
    #carouselBanner{
        margin-top: 5rem;
    }
    .carousel-item>img {
        max-height: 100rem;
    }
    .carousel-inner-item > img{
        transform: translateY(0%);
    }
    .welcome p{
        font-size: 1.7rem;
        font-weight: 700;
        line-height: 1.5;
    }
    .products-text p{
        font-size: 1.7rem;
        font-weight: 500;
        line-height: 1.2;
    }
    .social-media-list{
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: space-evenly;
    }
    .social-media-list .social-media-icon{
        margin-top: 2rem;
        display: flex;
        height: 4rem;
    }
    .social-media-list .facebook-icon{
        height: 3rem;
        padding-left: 2rem;
        margin-top: 2.5rem;
        margin-right: .5rem;
    }
    
    .footer-nav{
        padding-top: 0;
    }
}